    .shop-title {
        margin-top: 100px; 
        margin-bottom: 80px;
        text-align: center;
        font-size: 20px;
    }
    
    .plants {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
    
    .plant {
        border-radius: 15px;
        width: 300px;
        height: 350px;
        margin: 120px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .plant img {
        width: 300px;
        max-height: 400px;
    }
    
    .plant .description {
        text-align: center;
        margin-top: 20px; 
    }

    p {
        margin: 5px;
    }

    
    .plant:hover {
        transition: 0.3s ease-in;
        cursor: pointer;
    }
    
    .addToCartBttn {
        background-color: transparent;
        margin-top: 5px; 
        border: 2px solid hsl(171, 100%, 41%);
        min-width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
    }
    
    .addToCartBttn:hover {
        background-color: hsl(171, 100%, 41%);
        color: white;
        cursor: pointer;
    } 