.card-container {
    display: flex;
    width: 1300px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 100px;
}

.card-details {
    flex: 1;
    margin: 100px;


}

.card-details p,
.PlantDescription p {
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
}

.card-details button {
    font-size: 16px;
    padding: 12px;
    margin-top: 20px;
}

.card-image {
    flex: 1;
    margin: 30px;
    margin-left: 80px;
}


.image {
    border: 5px solid red;
}

.description p {
    margin-bottom: 20px;
    
}

.addToCartBttn {
    background-color: transparent;
    margin-top: 5px; 
    border: 2px solid rgb(75,143,18);
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.addToCartBttn:hover {
    background-color: rgb(75, 143, 18);
    color: white;
    cursor: pointer;
} 