.card-container {
    display: flex;
    width: 1300px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 100px;
}

.card-details {
    flex: 1;
    margin: 100px;
}

.card-details p {
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
}

.card-details button {
    font-size: 16px;
    padding: 12px;
    margin-top: 20px;
}

.card-image {
    flex: 1;
    margin: 30px;
    margin-left: 80px;
}


.card-image img{
    width: 500px;
    height: 700px;
}


.description p {
    margin-bottom: 20px;
}

/* Styling for the .addToCartBttn class */
.addToBasketBttn {
    border: 2px solid rgb(75,143,18);
    background-color: rgb(75, 143, 18);
    border-radius: 8px;
    color: white;
    padding: 100px;
}

.addToBasketBttn:hover {
    background-color: rgb(19, 20, 19);
    color: white;
    cursor: pointer;
} 