.plants {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    place-items: center;
    margin-top: 50px;
}


.plant {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plant img {
    width: 400px;
    max-height: 550px;
}

.plant-name {
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    color: #5d5a5a;
    transition: opacity 0.3s ease-in-out;
}

.plant:hover .plant-name {
    opacity: 1;
}

.shop {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; /* To stack the search bar on top of the plants */
}


.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 500px; 
    margin-top: 100px;
}

.search-icon {
    position: absolute;
    left: 10px;
    color: gray;
    font-size: 1.5rem;
    padding-left: 20px;
}

.search-input {
    flex: 1;
    height: 50px;
    padding: 10px 10px 10px 70px; 
    border-radius: 20px;
    font-size: 20px;
    border: 3px solid green;
}

*:focus {
    outline: none;
}