.plants {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    place-items: center;
    margin-top: 50px;
}



.plant {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plant img {
    width: 400px;
    max-height: 550px;
}

